<div class="ui container" ng-show="currentUser._id !== undefined">
  <div class="ui centered cards">
    <div class="ui fluid card">
      <div class="content centered">
        <div class="header">
          嗨, {{currentUser.name}} 你好!
        </div>
        <div class="description">
          <div class="ui three statistics">
            <div class="statistic">
              <div class="value" ng-bind="timeLeft.hours | number: 0">
              </div>
              <div class="label">
                小時
              </div>
            </div>
            <div class="statistic">
              <div class="value" ng-bind="timeLeft.mins | number: 0">
              </div>
              <div class="label">
                分鐘
              </div>
            </div>
            <div class="statistic">
              <div class="value" ng-bind="timeLeft.secs | number: 0">
              </div>
              <div class="label">
                秒
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content centered">
          <div class="header">
            時間利息
          </div>
          <div class="description">
            <div class="ui two statistics">
              <div class="statistic">
                <div class="value" ng-bind="timeLeft.interest | number: 1">
                </div>
                <div class="label">
                  每秒生成
                </div>
              </div>
              <div class="statistic">
                <div class="value" ng-bind="center.speed | number: 0">
                </div>
                <div class="label">
                  倍速度
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui divider" ng-show="currentUser._id !== undefined"></div>

<div class="ui vertical segment centered container badgeWrapper" ng-show="currentUser._id !== undefined">
  <h2  style="transform: translateX(10px)"><i class="ui icon diamond"></i>你的天賦</h2>
  <div class="ui three column centered grid" >
    <svg id="color-fill-anchor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="120" height="120" xmlns:xlink="http://www.w3.org/1999/xlink"
    ng-repeat="(key, value) in currentUser.category">
        <!-- <polygon class="hex" points="100,50 75,93 25,93 0,50 25,7 75,7"></polygon> -->
        <image x="0" y="0" height="100" width="100" xlink:href="{{getBadgePath(key)}}" class="badgeImage"/>
        <circle cx="80" cy="80" r="20" stroke="grey" stroke-width="3" fill="white" />
        <text x="80" y="89" text-anchor="middle" font-size="20" fill="black" ng-class="{isNegative: value < 0}"> {{value}}%</text>
    </svg>
  </div>
</div>

<div class="ui divider" ng-show="currentUser._id !== undefined"></div>

<div class="ui container vertical segment holdingAtHome takeBorderOut" ng-show="currentUser._id !== undefined">
  <h2><i class="ui icon rocket"></i>你獲得的成就</h2>
  <h3 ng-show="currentUser.lands.length == 0">尚未獲得任何成就，加緊腳步喔！</h3>
  <div class="ui list">
    <div class="item listWrap" ng-repeat="land in currentUser.lands">
      <img class="ui avatar image" src="{{land.badgePath}}">
      <div class="content">
        <div class="header">{{land.category}}類</div>
        <div class="description">{{land.content}}</div>
      </div>
    </div>
  </div>
</div>

<div class="ui divider" ng-show="currentUser._id !== undefined"></div>

<div class="ui container vertical segment leaderBoarContainer takeBorderOut" ng-show="currentUser._id !== undefined">
  <h2><i class="ui icon rocket"></i>排行榜</h2>
  <div class="ui list">
    <div class="item listWrap" ng-repeat="user in leaderboardUsers | orderBy:'-interest' track by $index ">
      <div class="ui grey large circular label">{{$index + 1}}</div>
      <div class="content leaderBoardContent">
        <div class="header">{{user.name}}</div>
        <div class="description">時間利息：{{user.interest | number: 2}}</div>
        <div class="description">擁有時間：{{user.timeLeft.hours | number: 0}}:{{user.timeLeft.mins | number: 0}}:{{user.timeLeft.secs | number: 0}}</div>
        <div class="description">獲得成就：
          <div class="leaderBoardWrapper">
            <div ng-repeat="landCat in user.landCats" class="leaderboardBadgeWrapper">
              <img
                class="ui avatar large image leaderboardBadgeImage"
                src="{{landCat.badgePath}}"
              >
              <div class="landCatCount">{{landCat.count}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="buyLandMessage !== ''" id="buyLandMessageModal" class="buyLandMessageWrapper" ng-click="buyLandMessage = ''">
  <div class="ui yellow message">
    <i class="close icon"></i>
    <div class="header">
      {{buyLandMessage}}
    </div>
    <p>請踩上土地再試試看</p>
  </div>
</div>


<div class="buyLandButtonWrapper" ng-show="currentUser._id !== undefined">
  <button ng-click="checkPositionAndBuyLand()" class="buyLandButton">
    <div class="buyLandButtonText">
      <i class="ui inverted add to cart icon" ng-hide="isLoading"></i>
      <i class="ui spinner loading icon" ng-show="isLoading"></i>
    </div>
  </button>
</div>

<div class="ui basic modal form" id="checkPositionAndBuyLand">
  <i class="close icon"></i>
  <div class="header">
    {{currentLand.content}}
  </div>
  <div class="image content">
    <div class="image">
      <i class="barcode icon"></i>
    </div>
    <div class="description">
      <li>成就保持人：{{currentLand.owner}}</li>
      <li>類別：{{currentLand.category}}類</li>
      <li>利息：每秒生成{{currentLand.interest}}秒</li>
      <li>定價：{{currentLand.price}}秒</li>
      <li>機率：{{currentLand.probs[0] | number: 0}} % ~ {{currentLand.probs[1] | number: 0}} %</li>
    </div>
    <div class="description error" ng-bind="errorMessage"></div>
    <div class="ui active inline loader centered" ng-show="isLoading"></div>
    <div class="ui divider"></div>
    <div class="ui input">
      <input type="number" placeholder="最高可出兩倍定價喔！" name="bidTime" ng-model="bidTime" >
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui green basic inverted button" ng-click="buyLandAtHome(currentLand.landId)">
        <i class="checkmark icon"></i>
        確認購買
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal" id="checkPositionAndBuyLandSuccess">
  <i class="close icon"></i>
  <div class="header">
    恭喜你達成{{currentLand.name}}了
  </div>
  <div class="image content">
    <div class="image">
      <i class="child icon"></i>
    </div>
    <div class="description">
      <p>唉唷不錯喔，繼續加油。</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons" ng-click="closeBuySuccessModal()">
      <div class="ui green basic inverted button">
        <i class="checkmark icon"></i>
        繼續
      </div>
    </div>
  </div>
</div>


<div class="ui container" id="start" ng-hide="gameStatus !== 'start'">
  <div class="loginButtonWrapper">
      <button class="loginButton" ng-click="checkStartOrNot()">START</button>
  </div>
</div>

<div class="ui container" id="logo" ng-hide="currentUser._id !== undefined">
  <div>
    在HOURS裡，主宰一切的，就是時間。
    時間是我們唯一的資產。我們操控時間，試著達成目標。
  </div>
  <div class="loginButtonWrapper">
    <div class="secondButtonWrapper">
      <a href="#/login">
        <button class="loginButton" >LOGIN</button>
      </a>
    </div>
  </div>
</div>
