.isOccupied {
  fill: red;
}
.isNegative {
  fill: red;
}
.ui.statistics>.statistic {
  margin: 0 2em;
}

.listWrap {
  display: flex !important;
  align-items: center;
  padding: 0.61428571em 0em !important;
}